///
/// Color theme mode toggler for Bootstrap styles
///

.color-mode-switcher {
    position: absolute !important;
    left: 0;
    bottom: 0;
    color: var(--#{$cbprefix}menu-color);

    @include cb-media-breakpoint-down(lg) {
        left: auto;
        top: 2rem;
        bottom: auto;
        right: 1rem;
    }

    .btn {
        color: inherit;
    }

    &.bd-mode-toggle {
        z-index: 1500;

        .dropdown-menu .active .bi {
            display: block !important;
        }
    }

    .bi {
        vertical-align: -.125em;
        fill: currentColor;
    }
}