///
/// Base layout structures
///
/// This only about layout structure properties and cosmetic rules are to be avoided.
///
body {
    height: 100%;

    // Base layout has an advanced structure with menus, context, content, footer, etc..
    .layout-base {
        display: grid;
        height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: $layout-head-height min-content auto;
        grid-template-areas:
            "brand"
            "context"
            "main";
        column-gap: 0;
        row-gap: 0;

        @include cb-media-breakpoint-up($layout-breakpoint) {
            grid-template-columns: $layout-menu-width auto;
            grid-template-rows: $layout-head-height auto;
            grid-template-areas:
                "brand context"
                "menu main";
        }

        // Brand
        .site-brand {
            grid-area: brand;
        }

        // Main menu
        .page-menu {
            display: none;
            overflow-y: auto;
            position: absolute;
            top: $layout-head-height;
            left: 0;
            right: 0;
            bottom: 0;

            @include cb-media-breakpoint-up($layout-breakpoint) {
                grid-area: menu;
                display: block;
                overflow-x: hidden;
                position: static;
                top: auto;
                left: auto;
                right: auto;
                bottom: auto;
                z-index: auto;
            }
        }

        // Sub menu
        .page-context {
            grid-area: context;
        }

        // Main content container
        .page-content {
            grid-area: main;
            @include cb-media-breakpoint-up($layout-breakpoint) {
                overflow-y: auto;
            }
        }
    }

    // Cover layout is a very simple vertical structure with a simple header and content
    .layout-cover {
        display: grid;
        height: 100%;
        grid-template-columns: auto;
        grid-template-rows: $layout-head-height auto;
        grid-template-areas:
            "head"
            "main";
        column-gap: 0;
        row-gap: 0;

        // Brand
        .site-brand {
            @include cb-flex(0, 0, auto);
            grid-area: head;
            border-bottom: 0;
            border-right: 0;
            display: flex;
            justify-content: center;

            .class-toggler {
                display: none;
            }
        }

        // Main content container
        .page-content {
            grid-area: main;
            overflow-y: auto;
        }
    }

    // Adapt objects when menu is opened for mobile behavior only
    @include cb-media-breakpoint-down($layout-breakpoint) {
        &.main-menu-opened {
            overflow-x: hidden;
            overflow-y: hidden;

            .layout-base {
                .page-menu {
                    display: block;
                    z-index: 200;
                }
                .page-content {
                    overflow-y: hidden;
                }
            }
        }
    }

    // For when the inventory is enabled in pages
    &.shopping-inventory-enabled {
        .layout-base {
            .aside-content {
                grid-area: contentsidebar;
                position: fixed;
                top: auto;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 50;
                overflow-y: auto;

                .inventory {
                    display: none;
                }

            }

            .page-content {
                // Reserve some bottom space on content for the aside head
                @include cb-media-breakpoint-down($layout-breakpoint) {
                    padding-bottom: 3rem;
                }

                @include cb-media-breakpoint-up($layout-breakpoint) {
                    display: grid;
                    height: 100%;
                    overflow-y: none;
                    grid-template-columns: 3fr 1fr;
                    grid-template-rows: auto 1fr;
                    grid-template-areas:
                        "breadcrumbs contentsidebar"
                        "contentmain contentsidebar";
                    column-gap: 0;
                    row-gap: 0;

                    .breadcrumb-container {
                        grid-area: breadcrumbs;
                    }

                    .main-content {
                        grid-area: contentmain;
                        overflow-y: auto;
                    }

                    .aside-content {
                        grid-area: contentsidebar;
                        overflow-y: auto;
                        position: static;
                        top: auto;
                        left: auto;
                        right: auto;
                        bottom: auto;
                        z-index: auto;

                        .inventory {
                            display: table;
                        }
                    }
                }
            }
        }

        // Show up the inventory table for mobile only
        @include cb-media-breakpoint-down($layout-breakpoint) {
            &.shopping-inventory-opened {
                .layout-base {
                    .aside-content {
                        height: 60vh;

                        .inventory {
                            display: table;

                            &.empty {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}
