///
/// Base layout structures
///
/// This only about layout structure, properties and cosmetic rules are to be avoided.
///

.layout-container {
    display: grid;
    position: relative;
    margin: 0 auto;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: $layout-head-height min-content auto;
    grid-template-areas:
        "page-brand"
        "page-title"
        "page-context"
        "page-content";
    column-gap: 0;
    row-gap: 0;

    @include cb-media-breakpoint-up($layout-breakpoint) {
        grid-template-columns: $layout-menu-width-lg auto $layout-menu-width-lg;
        grid-template-rows: $layout-head-height auto;
        grid-template-areas:
            "page-brand page-title page-title"
            "page-menu page-content page-context";
    }

    @include cb-media-breakpoint-up(xl) {
        grid-template-columns: $layout-menu-width-xl auto $layout-menu-width-xl;
        max-width: rem-calc(1200px);
    }

    @include cb-media-breakpoint-up(xxl) {
        max-width: rem-calc(1400px);
    }

    // Brand
    .page-brand {
        grid-area: page-brand;
    }

    .page-title {
        grid-area: page-title;
    }

    //
    .page-context {
        grid-area: page-context;
    }

    // Main menu
    .page-menu {
        display: none;
        overflow-y: auto;
        position: absolute;
        top: $layout-head-height;
        left: 0;
        right: 0;
        bottom: 0;

        @include cb-media-breakpoint-up($layout-breakpoint) {
            grid-area: page-menu;
            display: block;
            overflow-x: hidden;
            position: static;
            top: auto;
            left: auto;
            right: auto;
            bottom: auto;
            z-index: auto;
        }
    }

    // Page content container
    .page-content {
        grid-area: page-content;
        @include cb-media-breakpoint-up($layout-breakpoint) {
            overflow-y: auto;
        }

        .page-title {
            height: $layout-head-height;
        }
    }
}

// Adapt objects when menu is opened for mobile behavior only
@include cb-media-breakpoint-down($layout-breakpoint) {
    body.main-menu-opened {
        overflow-x: hidden;
        overflow-y: hidden;

        .layout-container {
            .page-menu {
                display: block;
                z-index: 200;
            }
            .page-content {
                overflow-y: hidden;
            }
        }
    }
}
